  <div id="disp-freq-dropdown" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      Display Frequency <br>
      <%= event_freq %> minutes
      <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li data-value="15"><a href="#">15 minutes</a></li>
      <li data-value="30"><a href="#">30 minutes</a></li>
      <li data-value="45"><a href="#">45 minutes</a></li>
      <li data-value="60"><a href="#">60 minutes</a></li>
    </ul>
  </div>
