<div class="row new-event-form-ctr">
  <div class="col-sm-4">
    <input type="text" value="<%= name %>">
  </div>

  <div class="col-sm-3 event-calendar-ctr">
    <label>Start time
      <input type="datetime-local" value="<%= startISO %>">
    </label>
  </div>

  <div class="col-sm-3 event-calendar-ctr">
    <label>End time
      <input type="datetime-local" value="<%= endISO %>">
    </label>
  </div>

  <div class="col-sm-1">
    <label>Countdown Timer
      <input type="number">
    </label>
  </div>

  <div class="col-sm-1">
    <button>Save</button>
  </div>
</div>
