<h2 class="feature-header">Announcements</h2>

<div class="display-freq-ctr">
  <div id="disp-freq-dropdown" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      Display Freq
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li data-value="15"><a href="#">15 min</a></li>
      <li data-value="30"><a href="#">30 min</a></li>
      <li data-value="45"><a href="#">45 min</a></li>
      <li data-value="60"><a href="#">60 min</a></li>
    </ul>
  </div>
</div>

<div id="new-event-ctr"></div>
<div id="today-events-ctr"></div>
<div id="week-events-ctr"></div>
<div id="month-events-ctr"></div>
