<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-section-header">Add New Event</h4>
  </div>
</div>

<div class="new-event-form-ctr">
  <form class="form-inline">
    <div class="form-group event-text-ctr">
      <input
        class="form-control"
        type="text"
        placeholder="HEADLINE: 20 characters"
        name="header">

      <input
        class="form-control"
        type="text"
        placeholder="SUB HEAD: 100 characters"
        name="subheader">

        <input
        class="form-control"
        type="text"
        placeholder="EVENT TEXT"
        name="event_text">
      </div>

      <div class="form-group event-date-ctr">
        <input id="new-event-calendar" name="c1" >
        <div id="event-time-ctr">
          <input id="start-time-input" type="time" name="event-start-time">
          <input id="end-time-input" type="time" name="event-end-time">
        </div>
      </div>

    <div class="form-group">
      <!-- <span>Countdown Timer</span> -->
      <div class="countdown-dropdown dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          <span id="countdown-text"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li data-value="2"><a href="#">2 hrs</a></li>
          <li data-value="3"><a href="#">3 hrs</a></li>
          <li data-value="6"><a href="#">6 hrs</a></li>
          <li data-value="12"><a href="#">12 hrs</a></li>
          <li data-value="24"><a href="#">24 hrs</a></li>
        </ul>
      </div>
    </div>

    <div class="form-group save-event-ctr">
      <button class="form-control" id="save-new-event">Save</button>
    </div>
  </form>
</div>
