<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-section-header">Add New Event</h4>
  </div>
</div>

<div class="row new-event-form-ctr">
  <div class="col-sm-4">
    <input type="text" placeholder="New Event Text Here">
  </div>

  <div class="col-sm-3 event-calendar-ctr">
    <label>Start time
    <input type="datetime-local">
    </label>
  </div>

  <div class="col-sm-3 event-calendar-ctr">
    <label>End time
    <input type="datetime-local">
    </label>
  </div>

  <div class="col-sm-1">
    <label>Countdown Timer
      <input type="number">
    </label>
  </div>

  <div class="col-sm-1">
    <button>Save</button>
  </div>
</div>
