<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-section-header">Add New Event</h4>
  </div>
</div>

<div class="new-event-form-ctr">
  <form class="form-inline">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="New Event Text Here"
        name="name">
    </div>

    <div class="form-group event-calendar-ctr">
      <!-- <span>Start time</span> -->
        <input
          class="form-control"
          type="datetime-local"
          name="start_time_ms">
    </div>

    <div class="form-group event-calendar-ctr">
      <!-- <span>End time</span> -->
        <input
          class="form-control"
          type="datetime-local"
          name="end_time_ms">
    </div>

    <div class="form-group">
      <!-- <span>Countdown Timer</span> -->
        <input
          class="form-control"
          type="number"
          name="countdown_ms">
    </div>

    <div class="form-group">
      <button class="form-control" id="save-new-event">Save</button>
    </div>
  </form>
</div>
