<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#/exterior_modules">Exterior Modules<span class="sr-only">(current)</span></a>
    </li>
    <li>
      <a href="#">Presentation Modes</a>
    </li>
    <li>
      <a href="#">Media</a>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
