<div class="container">
<div class="manage-users-ctr">
  <h2>
    <b>Admins - </b>
    <span class="inner-header">
      Read, Write, and Add <b>Users</b>
    </span>
  </h2>
  <ul>
  <% current_user.other_admin_users.each do |u| %>
    <li class="user-manage-li">
      <%= u.email %>
      <%= button_to users_manage_users_path, method: :delete, params: {u_id: u.id}  do%>
        <i class="glyphicon glyphicon-trash"></i>
      <% end%>
    </li>
  <% end %>
  </ul>


  <button id="new-admin-manage-btn" class="btn btn-default">
    <i class="glyphicon glyphicon-user"></i>
    New Admin
  </button>
</div>

<div class="manage-users-ctr">
  <h2>
    <b>Users - </b>
    <span class="inner-header">
      Read only. Write only for Calendar Events
    </span>
  </h2>
  <ul>
  <% User.not_admin.each do |u| %>
    <li class="user-manage-li">
      <%= u.email %>
      <%= button_to users_manage_users_path, method: :delete, params: {u_id: u.id}  do%>
        <i class="glyphicon glyphicon-trash"></i>
      <% end%>
    </li>
  <% end %>
  </ul>
</div>

  <button id="new-user-manage-btn" class="btn btn-default">
    <i class="glyphicon glyphicon-user"></i>
    New User
  </button>
</div>
