#events-ctr{
  // input, {
  //   display: block;
  // }

  label{
    font-size: 12px;
    width: 60px;
    margin-left: 10px;
  }

  input[type="text"]{
    width: 100%;
    text-align: center;
  }

  input[type="number"]{
    width: 100%;
  }

  // .new-event-form-ctr{
  //   div{
  //     height: 30px;
  //   }
  // }
}

.events-layout-ctr{
  padding: 0 40px 10px 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.events-new-ctr{
  margin-top: 15px;
}

.new-event-form-ctr,
.event-form-ctr{
  .form-group{
    vertical-align: top;
  }
}

.event-text-ctr{
  width: 335px;
  input{
    margin-bottom: 10px;
  }
}

.event-date-ctr{
  input{
    margin-bottom: 10px;
  }
}

.form-control{
  border-radius: 0px !important;
}

.delete-event-ctr,
.save-event-ctr{
  float: right;
}

.save-event-ctr{
  text-transform: uppercase;
}
