#events-ctr{
  input, label{
    display: block;
  }

  label{
    font-size: 12px;
  }

  input[type="text"]{
    width: 100%;
    text-align: center;
  }

  input[type="number"]{
    width: 100%;
  }

  // .new-event-form-ctr{
  //   div{
  //     height: 30px;
  //   }
  // }
}

.events-layout-ctr{
  padding: 0 40px 10px 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
