#events-ctr{
  label{
    font-size: 12px;
    width: 60px;
    margin-left: 10px;
  }

  input[type="number"]{
    width: 100%;
  }
}

.events-layout-ctr{
  position: relative;
}

.events-new-ctr{
  margin-top: 15px;
}

.event-text-ctr,
.event-date-ctr,
.event-countdown-ctr,
.save-event-ctr,
.cancel-event-ctr{
  display: inline-block;
  vertical-align: top;
}

.event-date-ctr,
.event-countdown-ctr,
.save-event-ctr,
.cancel-event-ctr{
  margin-left: 30px;
}

.save-event-ctr{
  .glyphicon{
    cursor: pointer;
    font-size: 30px;
    color: $green;
  }
}

.cancel-event-ctr{
  .glyphicon{
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }
}

.display-freq-ctr{
  display: inline-block;
  margin-left: 200px;
}


.middle-range-date{
  background: #5C95C6;
}

.first-range-date{
  background: #93B5D7;
}

.last-range-date{
  background: #B6CD51;
}

.event-item-ctr{
  margin-bottom: 20px;
}

.display-freq-ctr{
  font-size: 12px;
  font-weight: 300;
  color: #fff !important;

  button{
    border: 1px solid #fff !important;
    margin-top: -2px;

    &:hover,
    &:focus{
      border: 1px solid #fff !important;
    }

    &:active{
      outline: none;
    }

    .glyphicon{
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  .dropdown-menu{
    padding: 0;
    margin: 0;
    margin-top: -1px;
    border: none !important;
  }

  button,
  .dropdown-menu{

    width: 200px  !important;
    color: #fff !important;
    border-radius: 0 !important;
    background: transparent !important;

    li{
      &:hover{
        background: transparent !important;
      }
      background: transparent !important;
      border-radius: 0 !important;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;

      &.current-freq{
        a{
          color: $green !important;
        }
      }

      a{
        &:hover{
          background: transparent !important;
        }
        color: #fff !important;
      }
    }
  }

}

.add-new-event-btn{
  display: inline-block;
  background-color: $light-blue;
  border: 1px solid #fff;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 34px;
  margin-bottom: 8px;
}

.new-event-form-ctr{
  >div{
    vertical-align: top;
  }

  form{
    div{
    }
  }

  input[type="text"]{
    background: transparent;
    width: 500px;
    -webkit-appearance: none;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
  }

  input::-webkit-input-placeholder,
  input:-moz-placeholder, /* Firefox 18- */
  input:-ms-input-placeholder {
    color: #fff;
  }

  .header-input{
    padding: 8px;
    border: 1px solid #fff;
    display: block;
  }

  .subheader-input{
    display: block;
    padding: 8px;
    border: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.event-time-ctr{
  border: 1px solid #fff;
  width: 100%;
  height: 40px;

  input[type="time"]::-webkit-clear-button {
    display: none;
  }

  input[type="time"]::-ms-clear {
    display: none;
  }

  input{
    float: right;
    background: transparent;
    width: 60px;
    font-size: 10px;
    border: 1px solid #fff;
    margin-right: 5px;
    margin-top: 3px;
    line-height: 28px !important;
  }
}

.countdown-button-left,
.countdown-button-right{
  background: transparent;
  height: 40px;
  border-radius: 0 !important;

  &:hover,
  &:focus,
  &:active{
    color: #fff !important;
  }
}

.countdown-button-left{
  font-size: 24px !important;
  border: 1px solid #fff !important;
}

.countdown-button-right{
  border-right: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
