.navbar-main{
  margin-bottom: 0px !important;
}

.navbar-app{
  color: #fff;
  background: transparent;
  border-radius: 0px !important;
  border-top: 0 !important;
  margin-bottom: 0px !important;
  height: 153px;

  .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }

  h2{
    width: 135px;
    float: left;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
}


.server-app-nav-ctr{
  @include horizontal-align;
  top: 0;
  background: transparent;
  font-size: 30px;
  color: #fff;
  height: 153px;
  margin: auto;

  a{
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #8E8CAE;
  }

  @media(max-width: 768px){
    width: 100% !important;
  }
}

.navbar-app-links-ctr{
  @include horizontal-align;
  display: inline-block;
  width: 700px;
  text-align:center;
  height: $navbar-app-height;
}

.navbar-app-link-ctr{
  @include horizontal-align;
  display: inline-block;
  height:$navbar-app-height;
  margin-right: 60px;
  padding-top: 20px;

  a{
    @include setLinkStyleAll{
      display: inline-block;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .tablet-nav-svg{
    margin: auto;
    height: 65%;
    display: block;
  }
}

