.navbar-main{
  margin-bottom: 0px !important;
}

.navbar-app{
  color: #fff;
  background: transparent;
  border-radius: 0px !important;
  border-top: 0 !important;
  margin-bottom: 0px !important;
  height: 153px;

  .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }

  h2{
    width: 135px;
    float: left;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
}

.navbar-app-links-ctr{
  @include horizontal-align;
  display: inline-block;
  width: 700px;
  text-align:center;
  height: $navbar-app-height;

  @media(max-width: 420px){
    width: 100%;
  }
}

.navbar-app-link-ctr{
  width: 190px;
  display: inline-block;
  height:$navbar-app-height;
  padding-top: 20px;
  cursor: pointer;
  opacity: 0.5;

  a{
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  &.active{
    opacity: 1;
  }

  .app-nav-text{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .tablet-nav-svg{
    margin: auto;
    height: 65%;
    display: block;
  }
}

.manage-user-nav-link-ctr{
  float: right;
  height: 100%;
  display: inline-block;
  font-size: 35px;
  opacity: 0.5;
  text-align: center;

  a{
    margin-top: 35px;

    @include setLinkStyleAll{
      text-decoration: none;
    }
  }
}
