<div class="tablet-event-text-ctr">
  <span><%= header %></span>
  <span><%= event_text %></span>
</div>

<div class="tablet-event-date-ctr">
  <i class="glyphicon glyphicon-calendar"></i>
  <span><%= eventStartDate %></span>
</div>

<div class="tablet-event-countdown-ctr">
  <i class="glyphicon glyphicon-time"></i>
  <span><%= countdown_hours %> hr</span>
</div>
