<div class="container">
  <div class="navbar-app clearfix">
    <h2 class="app-logo-header">
      <p>The</p>
      <p>Anomaly</p>
    </h2>

    <div class="navbar-app-links-ctr">
      <span class="navbar-app-link-ctr">
        <a href="#/tablet">Exterior Modules</a>
      </span>
    </span>


  </div><!-- /.navbar-collapse -->
</div><!-- /.navbar-collapse -->
