<div class="media-content-header-ctr">
  <h2 class="feature-header">Media</h2>

  <div class="media-search-ctr">

    <form id="media-search-form">

      <div class="input-group">
        <input
          id="media-search-input"
          type="text"
          class="form-control">

          <span id="media-search-btn" class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
      </div>

    </form>
  </div>

</div>

<ul id="media-item-views-ctr" class="row">
</ul>

<div class="media-content-footer">
  <span id="media-prev-page" class="left-arrow glyphicon glyphicon-circle-arrow-left">
  </span>
  <span id="media-next-page" class="right-arrow glyphicon glyphicon-circle-arrow-right">
  </span>
</div>
