<nav class="navbar navbar-default navbar-app">
  <ul class="nav navbar-nav media-nav">
    <li>
      Attract Mode Modules
    </li>

    <li>
      Media Gallery
    </li>
  </ul>
</nav>

<nav class="navbar navbar-default navbar-app">
  <ul class="nav navbar-nav media-sub-nav">
    <li>
    <a href="#/video_player_media">Video Player</a>
    </li>

    <li>
    <a href="#/bell_labs_heroes_media">Bell Labs Heroes</a>
    </li>

    <li>
    <a href="#/video_library">Videos</a>
    </li>

    <li>
    <a href="#/image_library">Images</a>
    </li>
  </ul>
</nav>
