<nav class="navbar navbar-default navbar-app">
  <ul class="nav navbar-nav media-nav">
    <li>
    <a href="#/attract_mode_modules">Attract Mode Modules</a>
    </li>

    <li>
    <a href="#/media_gallery">Media Gallery</a>
    </li>
  </ul>
</nav>

<nav class="navbar navbar-default navbar-app">
  <ul class="nav navbar-nav media-sub-nav">
    <li>
    <a href="#/nobel_ghosts_media">Nobel Ghosts</a>
    </li>

    <li>
    <a href="#/bell_labs_heroes">Bell Labs Heroes</a>
    </li>

    <li>
    <a href="#/media_lib_videos">Videos</a>
    </li>

    <li>
    <a href="#/media_lib_images">Images</a>
    </li>
  </ul>
</nav>
