<ul class="media-nav-ul">
  <li>
    <a href="#/video_player_media">Video Player</a>
  </li>

  <li>
    <a href="#/bell_labs_heroes_media">Bell Labs Heroes</a>
  </li>

  <li>
    <a href="#/video_library">Videos</a>
  </li>

  <li>
    <a href="#/image_library">Images</a>
  </li>
</ul>
