<ul class="media-nav-ul">
  <li id="video-player-link">
    <a href="#/video_player_media">Video Player</a>
  </li>

  <li id="bell-labs-heroes-link">
    <a href="#/bell_labs_heroes_media">Bell Labs Heroes</a>
  </li>

  <li id="media-library-video-link">
    <a href="#/video_library">Videos</a>
  </li>

  <li id="media-library-image-link">
    <a href="#/image_library">Images</a>
  </li>
</ul>
