<div class="row">
  <div class="col-sm-4">
  <button id="upload-btn" class="media-upload-btn">
    UPLOAD
  </button>

  <div class="progress-percentage-ctr">
    <span id="progress-percentage"></span>
  </div>

  <div class="input-group">
    <span class="input-group-btn">
      <input type="text" class="form-control file-name-text" readonly>
      <span class="btn btn-primary btn-file">
        Browse&hellip; <input id="upload-media" type="file" multiple>
      </span>
    </span>
  </div>

  </div>

  <div class="col-sm-3">
    <p class="file-constraints-header">Notes on file constraints:</p>
    <ul class="file-constraints-ul">
      <% _.each(fileConstraintData, function(el, i){ %>
          <li><%= el %></li>
      <% }) %>
    </ul>
  </div>

  <div class="col-sm-5 <%= metadataVisibleClass %>">
    <form id="metadata-form">
      <div class="metadata-input-ctr">
        <label for="meta1" class="metadata-label">BellLabsPeople</label>
        <input type="text" id="meta1"  name="bell_labs_people">
      </div>
      <div class="metadata-input-ctr">
        <label for="meta2" class="metadata-label">Top Level Category</label>
        <input type="text" id="meta2"  name="top_level_category">
      </div>
      <div class="metadata-input-ctr">
        <label for="meta3" class="metadata-label">Keywords</label>
        <input type="text" id="meta3"  name="keywords">
      </div>
      <div class="metadata-input-ctr">
        <label for="meta4" class="metadata-label">Additional Metadata</label>
        <input type="text" id="meta4"  name="additional_metadata">
      </div>
    </form>
  </div>
</div>
