<div class="row">
  <div class="col-sm-3">
  <button id="upload-btn" class="btn btn-primary btn-lg">
    UPLOAD
  </button>
  <input id="upload-media" type="file">
  </div>

  <div class="col-sm-3">
    <p>Notes on file constraints</p>

  </div>


  <div class="col-sm-5">
    <form class="form-horizontal vertical-align" id="metadata-form">
      <h4 class="text-center">Metadata</h4>
      <div class="form-group">
        <label for="meta1" class="control-label col-sm-4">BellLabsPeople</label>
        <div class="col-sm-8">
          <input type="text" id="meta1" class="form-control" name="BellLabsPeople">
        </div>
      </div>
      <div class="form-group">
        <label for="meta1" class="control-label col-sm-4">TopLevelCategory</label>
        <div class="col-sm-8">
          <input type="text" id="meta1" class="form-control" name="TopLevelCategory">
        </div>
      </div>
      <div class="form-group">
        <label for="meta1" class="control-label col-sm-4">Keywords</label>
        <div class="col-sm-8">
          <input type="text" id="meta1" class="form-control" name="Keywords">
        </div>
      </div>
      <div class="form-group">
        <label for="meta1" class="control-label col-sm-4">AdditionalMetadata</label>
        <div class="col-sm-8">
          <input type="text" id="meta1" class="form-control" name="AdditionalMetadata">
        </div>
      </div>
    </form>
  </div>
</div>
