.tablet-event-text-ctr{
  display: inline-block;
  width: 500px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.tablet-event-date-ctr{
  display: inline-block;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 0 40px;
}

.tablet-event-countdown-ctr{
  display: inline-block;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
