<div id="app-container">
</div>

<script>
$(function(){
    // can pass options to start event callbacks here
    BellCMS.start({});
    if (screen.width <= 1024) {
      Backbone.history.navigate("/tablet", true);
    }
});
</script>
