// .vertical-align {
//   display: flex;
//   align-items: center;
// }

// .vertical-align > [class^="col-"],
// .vertical-align > [class*=" col-"] {
//   display: flex;
//   align-items: center;     /* Align the flex-items vertically */
//   justify-content: center; /* Optional, to align inner flex-items
//   horizontally within the column  */
// }

// .vertical-align > [class^="form-group"],
// .vertical-align > [class*=" form-group"] {
//   display: flex;
//   align-items: center;     /* Align the flex-items vertically */
//   justify-content: center; /* Optional, to align inner flex-items
//   horizontally within the column  */
// }

.feature-header{
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  color: #fff;
}

.feature-ctr-top,
.feature-ctr-bottom{
  padding: 40px;
}

.feature-ctr-top{
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.feature-ctr-bottom{
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.no-display{
  display:none;
}

body{
 color: #fff;
 background: rgba(73,155,234,1);
 background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(51,57,140,1) 46%, rgba(51,57,140,1) 100%);
 background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(46%, rgba(51,57,140,1)), color-stop(100%, rgba(51,57,140,1)));
 background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(51,57,140,1) 46%, rgba(51,57,140,1) 100%);
 background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(51,57,140,1) 46%, rgba(51,57,140,1) 100%);
 background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(51,57,140,1) 46%, rgba(51,57,140,1) 100%);
 background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(51,57,140,1) 46%, rgba(51,57,140,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#33398c', GradientType=1 );
}

