@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-Black.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium-Thin.otf');
  font-weight: 100;
  font-style: normal;
}
* {
  font-family: Titillium, sans-serif;
}
