<div class="panel panel-default">
  <div class="panel-body">
    <span class="module-title"><%= name %></span>
    <span class="module-weight-ctr">
      <input type="number" value="<%= weight >">
    </span>
  </div>
</div>
