<div class="module-time-ctr">
  <h2 class="feature-header">Attract Modes</h2>
  <input
    class="time-input"
    type="text"
    data-slider-value ="<%= cycle_duration %>">
</div>

<div class="module-randomize-ctr">
  <button class="reset-btn" id="module-reset-btn">Reset</button>
  <button class="randomize-btn" id="module-randomize-btn">Randomize</button>
</div>
