<div class="module-item-box <%= active ? 'active-module' : 'inactive-module' %>">
  <span class="module-title"><%= name %></span>
</div>

<% if (name != 'Video Player'){ %>
  <div class="module-weight-ctr">
    <input class="weight-input" type="text" data-slider-value="<%= weight *= 100 %>">
  </div>
<% } else { %>

  <div class="module-weight-ctr">
    <button class="on-off-switch" type="button" value="">
      ON/OFF
    </button>
  </div>

<% } %>
