<div class="panel panel-default <%= active ? 'active-module' : 'inactive-module' %>">
  <div class="panel-body">
    <span class="module-title"><%= name %></span>
    <span class="module-weight-ctr">
      <input class="weight-input" type="number" value="<%= weight *= 100 %>">
      <span>%</span>
    </span>
  </div>
</div>
